react-flask-app/api/venv
react-flask-app/flask/venv
react-flask-app/api/.venv
venv/
react-flask-app/node_modules/.cache/.eslintcache
react-flask-app/node_modules/.cache/babel-loader/2352082e863ceaf82a3558936a03c3068eff7a928c4582e19acbea256b91eb06.json
react-flask-app/node_modules/.cache/default-development/0.pack_
react-flask-app/node_modules/.cache/.eslintcache
react-flask-app/node_modules/.cache/.eslintcache
react-flask-app/node_modules/.cache/default-development/0.pack_
